@page "/DeleteArea/{id:int}"
@using Model
@using Interfaces
@inject IAreaService AreaService
@inject NavigationManager NavigationManager


<h1>Category Details</h1>

<EditForm Model="@area" OnValidSubmit="DeleteArea">
    <DataAnnotationsValidator />
    @*<ValidationSummary />*@

    <table class="table">
        <tr>
            <td>Area</td>
            <td><input type="text" @bind="area.area" /></td>
        </tr>
        <tr><td colspan="2"> <ValidationMessage For="@(() => area.area)" /></td></tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Delete" />
                <input type="button" value="Cancel" @onclick="Cancel" />
            </td>
        </tr>
    </table>

</EditForm>


@code {

    [Parameter]
    public int id { get; set; }

    Area area = new Area();

    protected async override Task OnInitializedAsync()
    {
        if (id > 0)
            area = await AreaService.GetAreaDetails(id);
    }

    protected async Task DeleteArea()
    {
        await AreaService.DeleteArea(id);

        NavigateToCategories();
    }

    public void NavigateToCategories()
    {
        NavigationManager.NavigateTo("/area");
    }

    public void Cancel()
    {
        NavigateToCategories();
    }
}