@page "/DetalleCity"
@page "/DetalleCity/{id:int}"
@using Model
@using Interfaces
@inject ICityService CityService
@inject NavigationManager NavigationManager
@attribute [Authorize]


<div class="col-12">
    <div class="alert alert-warning" role="alert" style="width:100%"><h4>@Title</h4></div>
</div>
<div class="col-12">

    <EditForm Model="@city" OnValidSubmit="SaveCity">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        <div class="table-responsive">
            <table class="table table-sm table-borderless">
                <tr>
                    <td>ID</td>
                    <td><input type="text" @bind="city.id_ciudad" disabled="disabled" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Pais</td>
                    <td><input type="text" @bind="city.id_pais" class="form-control" /></td>

                </tr>
                <tr>
                    <td>Ciudad</td>
                    <td><input type="text" @bind="city.ciudad" class="form-control" /></td>
                </tr>

                <tr><td colspan="2"> <ValidationMessage For="@(() => city.ciudad)"></ValidationMessage></td></tr>


                <tr>
                    <td colspan="2" style="text-align:right">
                        <input type="submit" value="Save" class="btn btn-success" />
                        <input type="button" value="Cancel" @onclick="Cancel" class="btn btn-danger" />
                    </td>
                </tr>

            </table>
        </div>
    </EditForm>
</div>



@code {

    [Parameter]
    public int id { get; set; }





    private String Title = "Detalles de la Ciudad";

    City city = new City();

    protected async override Task OnInitializedAsync()
    {
        if (id > 0)
        {
            city = await CityService.GetCityDetails(id);
            Title = "Detalles de la Ciudad";
        }
        else
        {
            Title = "Agregar nueva Ciudad";
        }


    }



    protected async Task SaveCity()
    {
        await CityService.SaveCity(city);

        NavigateToCities();
    }

    public void Cancel()
    {
        NavigateToCities();
    }

    public void NavigateToCities()
    {
        NavigationManager.NavigateTo("/City");
    }
}
