@page "/"
@attribute [Authorize]


<Jumbotron Background="Background.Transparent" Margin="Margin.Is4.FromBottom">

    <JumbotronSubtitle>
        <div class="row">
            <div class="col-md-6 col-md-offset-2 my-auto">
                <img src="/Images/MovicorLOGO.png" style="width:40%" />
            </div>
        </div>
    </JumbotronSubtitle>
    <Divider></Divider>
    <Paragraph>
        <h2 style="color:dodgerblue"><b>CoreERP v1.0</b></h2>
        <p></p>
        <p>Sistema  de gestión corporativo, basado en microservicios.</p>
        <p style="color:black"><b>Powered by ITCS</b></p>
    </Paragraph>

</Jumbotron>

