@using Blazorise



<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Light"
     ThemeContrast="ThemeContrast.Light"
    >
    <BarBrand>
        <div class="text-lg-left"> Lugaro - Home & Office </div>
    </BarBrand>
    <BarToggler Clicked="@ToggleSidebar" />
    <BarMenu @bind-Visible="siderVisible">
        <BarStart>

            <BarItem>
                <BarLink To="#home">Home</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="#docs">Documentación</BarLink>
            </BarItem>
        </BarStart>

        <BarEnd  >
            <BarItem>
                <AuthorizeView>
                    <Authorized>
                        <div class="container">
                            <div class="row">
                                <a href="Identity/Account/Manage">@context.User.Identity.Name</a>
                                <form method="post" action="Identity/Account/LogOut">
                                    <button type="submit" class="nav-link btn btn-link">Log out</button>
                                </form>
                            </div>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="container">
                            <div class="row">
                                <Button Color="Color.Secondary">
                                    <NavLink href="/Identity/Account/Login">Log In</NavLink>
                                </Button>
                            </div>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </BarItem>

        </BarEnd>
    </BarMenu>

</Bar>

@code {
    private bool siderVisible = true;

    void ToggleSidebar()
    {
        siderVisible = !siderVisible;
        StateHasChanged();
    }

}

